:root {
  --rows: 0;
}

body {
  margin: 0;
}

#container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#container video {
  filter: drop-shadow(2px 4px 6px black);
  align-self: auto;
  flex-shrink: 1;
  padding: 1px;
  max-width: calc((100% / var(--rows)) - 2px);
  max-height: calc((100% / var(--rows)) - 2px);
  width: calc((100% / var(--rows)) - 2px);
  height: calc((100% / var(--rows)) - 2px);
}

#__own {
 transform: scaleX(-1); 
}
